.todo-list {
  display: grid;
  gap: 2px;
  // gap: .75em;
  // margin-top: .75em;
}

.is-dragging {
  box-shadow: 0 0 0 1px rgba(255, 165, 0, 1);
  background-color: rgba(255, 165, 0, 0.15);

  * {
    opacity: 0;
  }
}

.todo-edit {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1 !important;
  z-index: 10;
  max-width: 640px;
  margin: 0 auto;
}

.todo-item {
  list-style: none;

  &.todo-open {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    display: flex;
    max-width: 600px;
    justify-content: center;
    flex-direction: column;

    .todo-front {
      z-index: 10;
    }
  }

  .todo-front {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // position: relative;
    padding: 0 0 0 0.75rem;
    background-color: var(--todo-bg);
    gap: 0.5em;
    border-radius: 10px;
    // border: solid 1px #eee;
    user-select: none;
    // box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -webkit-tap-highlight-color: transparent;

    &.dragging {
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0.05) 0px 4px 10px;
      transform: translate3d(0px, 0px, 0px) scale(1.03, 1.03);
      opacity: 0.9;
    }
  }

  .todo-radio {
    display: flex;
    flex: 0 0 auto;
    height: 20px;
    width: 20px;
    border: solid 1px #ddd;
    border-radius: 6px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // transition: all 0.3s ease;
    margin-top: 0.75rem;

    &:hover {
      border-color: #aaa;
      box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
    }
  }

  .todo-box {
    position: relative;
    display: flex;
    flex: 1 1 0;

    &:before {
      content: "";
      border-bottom: solid 1px rgba(0, 0, 0, 0.05);
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      &:before {
        border-color: transparent;
      }
    }
  }

  .todo-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    cursor: pointer;
    user-select: none;
    padding-top: 0.1rem;
    font-size: 15px;
    padding: 0.7rem 0 0.65rem;
    // transition: all 0.3s ease;
    word-break: break-word;
  }

  .todo-prev-notes {
    margin-top: 0.25rem;
    color: #777;
    font-size: 13px;
    line-height: 1.5;
    word-break: break-word;
    white-space: pre-line;
    max-height: 100px;
    overflow: hidden;
  }

  .todo-drag {
    opacity: 0;
    display: flex;
    align-items: center;
    cursor: grab;
    padding: 0.85rem;
    touch-action: none;
    border-radius: 5px;
    border: none;
    outline: none;
    // transition: all 0.2s ease;
    appearance: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }

  .todo-action {
    display: flex;
    gap: 0.15rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    min-height: 33px;

    small {
      color: #aaa;
    }
  }

  .todo-form {
    position: relative;
    cursor: default;
    display: flex;
    gap: 0.75em;
    padding: 0.35rem 1rem;
    border-radius: var(--item-border-radius);
    background-color: var(--todo-bg);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.05) 0px 4px 10px;
    z-index: 10;
    border-radius: 12px;
    margin: 0 10px;
    width: calc(100% + 20px);
    overflow: hidden;
    // transition: all 0.3s ease;
    // max-height: 500px;

    .todo-content {
      cursor: default;
    }

    .todo-name,
    .todo-notes {
      font-family: var(--default-font);
      border: none;
      resize: none;
      background-color: transparent;
      border-radius: 6px;
      padding: 0.25rem;

      &:focus {
        outline: none;
      }
    }

    .todo-name {
      margin-top: -3px;
      font-size: 16px;
    }

    .todo-notes {
      color: #666;
      font-size: 16px;
    }
  }

  .task-date {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 12px;
    color: #aaa;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-50%) translateX(110%);
    visibility: hidden;
    filter: blur(3px);
  }

  .todo-confirm {
    opacity: 0;
    position: absolute;
    // bottom: -2em;
    visibility: hidden;
    padding: 1.35em;
    flex-direction: column;
    transition: all 0.4s ease;
    top: 50%;
    // transform:translateY(-30%);
    background-color: #fff;
    border-radius: var(--item-border-radius);

    border-radius: 12px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.05) 0px 4px 10px;
    // transition-delay: 0.3s;
    // transition-property: bottom;

    h3 {
      margin-bottom: 0;
    }

    p {
      font-size: 15px;
      color: #666;
    }

    .todo-action {
      margin-top: 2em;
      justify-content: flex-end;
    }
  }

  &:hover {
    .todo-front {
      background-color: var(--todo-bg-hover);

      &.dragging {
        background-color: #fff;
      }
    }

    // .todo-content{
    //   filter: blur(0px);
    // }

    // .task-date{
    //   opacity: 1;
    //   visibility: visible;
    //   transform: translateY(-50%) translateX(120%);
    //   filter: blur(0px);
    // }

    .todo-drag {
      opacity: 1;
    }
  }
}
