:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --default-font: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --grey2: #666;
  --grey3: #aaa;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//   }
// }

@import 'header';
@import 'list';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--default-font);
  line-height: 1.5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  color: #111;
  line-height: 1.5;
}

body {
  color: rgb(var(--foreground-rgb));
}


hr{
  height: 1px;
  margin: 6px 0;
  background-color: #e2e2e2;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

.d-flex{
  display: flex;
}

.text-scnd{
  color: var(--grey2);
}

.flex-column{
  flex-direction: column;
}

.flex-still{
  flex: 0 0 auto;
}

.d-none{
  display: none;
}

.flex-align-center{
  align-items: center;
}

.flex-content-between{
  justify-content: space-between;
}

.gap-2{
  display: flex;
  gap: .5em;
}

.w-100{
  width: 100%;
}

.mt-3{
  margin-top: 2em;
}

.mb-1{
  margin-bottom: .5em;
}

.todos{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 14em 20px;
  gap: 2em;
  display: grid;
}

.todo-list{
  display: grid;
  gap: .75em;
  // margin-top: .75em;

  .todo-item{
    list-style: none;

    .todo-front{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      padding-left: .75rem;
      background-color: #fff;
      gap: .75em;
      border-radius: 10px;
      // border: solid 1px #eee;
      user-select: none;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
      -webkit-tap-highlight-color: transparent;

      &.dragging{
        box-shadow: rgba(0,0,0,0.08) 0px 0px 0px 1px, rgba(0,0,0,0.05) 0px 4px 10px;
        transform: translate3d(0px, 0px, 0px) scale(1.03, 1.03);
        opacity: 0.9;
      }

      &.is-dragging{
        box-shadow: 0 0 0 1px rgba(255,165,0,1);
        background-color: rgba(255,165,0,0.15);

        *{
          opacity: 0;
        }
      }
    }

    .todo-radio{
      display: flex;
      flex: 0 0 auto;
      height: 20px;
      width: 20px;
      border: solid 1px #ddd;
      border-radius: 6px;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-top: .75rem;

      &:hover{
        border-color: #aaa;
        box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
      }
    }

    .todo-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
      cursor: pointer;
      user-select: none;
      padding-top: .1rem;
      font-size: 15px;
      padding: 0.7rem 0 0.65rem;
      transition: all 0.3s ease;
      word-break: break-word;
    }

    .todo-prev-notes{
      margin-top: 0.25rem;
      color: #777;
      font-size: 13px;
      line-height: 1.5;
      word-break: break-word;
      white-space: pre-line;
      max-height: 100px;
      overflow: hidden;
    }

    .todo-drag{
      opacity: 0;
      display: flex;
      align-items: center;
      cursor: grab;
      padding: .85rem;
      touch-action: none;
      border-radius: 5px;
      border: none;
      outline: none;
      transition: all 0.2s ease;
      appearance: none;
      background-color: transparent;
      -webkit-tap-highlight-color: transparent;
    }

    .todo-action{
      display: flex;
      gap: .15rem;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;
      min-height: 33px;

      small{
        color: #aaa;
      }
    }

    .todo-form{
      position: relative;
      cursor: default;
      display: flex;
      gap: .75em;
      padding: .35rem 1rem;
      border-radius: var(--item-border-radius);
      background-color: #fff;
      box-shadow: rgba(0,0,0,0.08) 0px 0px 0px 1px, rgba(0,0,0,0.05) 0px 4px 10px;
      z-index: 10;
      border-radius: 12px;
      margin: 0 -10px;
      width: calc(100% + 20px);
      transition: all 0.3s ease;
      // max-height: 500px;

      .todo-content{
        cursor: default;
      }

      .todo-name,
      .todo-notes{
        font-family: var(--default-font);
        border: none;
        resize: none;
        background-color: #fff;
        border-radius: 6px;
        padding: .25rem;

        &:focus {
          outline: none;
        }
      }

      .todo-name{
        margin-top: -3px;
        font-size: 16px;
      }

      .todo-notes{
        color: #666;
        font-size: 16px;
      }
    }

    .task-date{
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 12px;
      color: #aaa;
      opacity: 0;
      transition: all 0.3s ease;
      transform: translateY(-50%) translateX(110%);
      visibility: hidden;
      filter: blur(3px);
    }

    .todo-confirm{
      opacity: 0;
      position: absolute;
      // bottom: -2em;
      visibility: hidden;
      padding: 1.35em;
      flex-direction: column;
      transition: all 0.4s ease;
      top:50%;
      transform:translateY(-30%);
      // transition-delay: 0.3s;
      // transition-property: bottom;

      h3{
        margin-bottom: 0;
      }

      p{
        font-size: 15px;
        color: #666;
      }

      .todo-action{
        margin-top: 2em;
        justify-content: flex-end;
      }
    }

    &:hover{
      .todo-front{
        background-color: #fafafa;

        &.dragging{
          background-color: #fff;
        }
      }

      // .todo-content{
      //   filter: blur(0px);
      // }
      
      // .task-date{
      //   opacity: 1;
      //   visibility: visible;
      //   transform: translateY(-50%) translateX(120%);
      //   filter: blur(0px);
      // }

      .todo-drag{
        opacity: 1;
      }
    }
  }
}

.todo-edit{
  position: relative;
}

.todo-will-delete{
  position: relative;

  .todo-form{
    transform: scale(0.9);
    // max-height: 210px !important;

    .todo-content,
    .todo-radio{
      filter: blur(4px);
      opacity: 0.5;
    }
  }

  .todo-confirm{
    transform: translateY(-50%) !important;
    // bottom: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 10 !important;
  }
}

.btn{
  border: solid 1px #e5e5e5;
  border-radius: 8px;
  background-color: #fff;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  padding: .5rem 1rem;
  line-height: 1;
  cursor: pointer;

  &:hover{
    background-color: #fafafa;
  }
  &:focus{
    background-color: #f2f2f2;
  }
}

.btn-plain{
  border: solid 1px transparent;
  background-color: #fff;
  border-radius: 8px;
  color: #666;
  font-weight: 400;
  font-size: 14px;
  padding: .5rem .85rem;
  cursor: pointer;
  line-height: 1;

  &:hover{
    background-color: #fafafa;
  }
  &:focus{
    background-color: #f2f2f2;
  }
}

.btn-warning{
  color: #f00000;
  background-color: rgba(255,0,0,.05);
  border: 1px solid rgba(255,0,0,.1);

  &:hover{
    background-color: rgba(255,0,0,.1);
  }

  &:focus{
    background-color: rgba(255,0,0,.2);
  }
}

.placeholder{
  border: solid 1px #f2f2f2;
  color: #aaa;
  padding: .9em;
  border-radius: 12px;
  text-align: center;
}

@mixin overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}

.todo-bg{
  @include overlay;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.72);
  z-index: 9;
}

.modal-bg{
  @include overlay;
  background: rgba(0,0,0,0.3);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 9;
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;

  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ddd;
  -webkit-transition: all 0.2s cubic-bezier(.4,0,.2,1);
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  
  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: all 0.2s cubic-bezier(.4,0,.2,1);
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
  }
}

.input-field{
  background: #f2f2f2;
  border: none;
  padding: 1em;
  border-radius: 12px;
  width: 100%;
  height: 38px;
}

.setting-group{
  padding-bottom: 2.5em;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

@media screen and (min-width: 768px) {
  .main {
    padding: 100px 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
