:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --default-font: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --grey2: #666;
  --grey3: #aaa;
  --todo-bg: #fff;
  --todo-bg-hover: #fafafa;
  --color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --todo-bg: #202020;
    --todo-bg-hover: #2b2b2b;
    --color: #fff;
  }
}

@import "header";
@import "list";
@import "todos";
@import "radix";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--default-font);
  line-height: 1.5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  color: var(--color);
  line-height: 1.5;
}

body {
  color: rgb(var(--foreground-rgb));
}

hr {
  height: 1px;
  margin: 6px 0;
  background-color: #e2e2e2;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--color);
}

a {
  color: inherit;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.text-scnd {
  color: var(--grey2);
}

.text-third {
  color: var(--grey3);
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.flex-still {
  flex: 0 0 auto;
}

.d-none {
  display: none;
}

.flex-align-center {
  align-items: center;
}

.flex-content-between {
  justify-content: space-between;
}

.gap-2 {
  display: flex;
  gap: 0.5em;
}

.w-100 {
  width: 100%;
}

.mt-3 {
  margin-top: 2em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.todos {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  gap: 2em;
  display: grid;
}

// .todo-edit {
//   position: relative;
// }

.todo-will-delete {
  position: relative;

  .todo-form {
    transform: scale(0.9);
    // max-height: 210px !important;

    .todo-content,
    .todo-radio {
      filter: blur(4px);
      opacity: 0.5;
    }
  }

  .todo-confirm {
    // transform: translateY(-50%) !important;
    // bottom: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 10 !important;
  }
}

.btn {
  border: solid 1px #e5e5e5;
  border-radius: 8px;
  background-color: #fff;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 1rem;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }
  &:focus {
    background-color: #f2f2f2;
  }
}

.btn-plain {
  border: solid 1px transparent;
  background-color: #fff;
  border-radius: 8px;
  color: #666;
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0.85rem;
  cursor: pointer;
  line-height: 1;

  &:hover {
    background-color: #fafafa;
  }
  &:focus {
    background-color: #f2f2f2;
  }
}

.btn-warning {
  color: #f00000;
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.1);

  &:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }

  &:focus {
    background-color: rgba(255, 0, 0, 0.2);
  }
}

.btn-black {
  display: inline-block;
  border: none;
  border-radius: 50px;
  background-color: #212121;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 0.85rem 1.75rem;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #313131;
  }
}

.placeholder {
  border: solid 1px #f2f2f2;
  color: #aaa;
  padding: 0.9em;
  border-radius: 12px;
  text-align: center;
}

@mixin overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  // visibility: hidden;
}

.overlay {
  @include overlay;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.modal-bg {
  @include overlay;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 5;
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ddd;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.input-field {
  background: #f2f2f2;
  border: none;
  padding: 1em;
  border-radius: 12px;
  width: 100%;
  height: 38px;
}

.setting-group {
  padding-bottom: 2.5em;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

@media screen and (min-width: 768px) {
  .main {
    padding: 100px 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
